{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="jumbotron" ><center>
<h2>About ProfileSite</h2>
<p>
Welcome to ProfileSite, the world's largest professional network with million of members in more than 200 countries and territories worldwide.
</p>
<h3>Vision</h3>
<p>
Create economic opportunity for every member of the global workforce.
</p>
<h3>Mission</h3>
<p>
The mission of ProfileSite is simple: connect the world’s professionals to make them more productive and successful.
</p>
<center>
</div>
{% endblock %}