{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="jumbotron" >

    <h2>About Team2 PortfolioSite</h2>
    <p>
    Welcome to Team 2 PortfolioSite, a demo django project.
    </p>
    <h2> Members</h2>
    <p>

    </p>
    <h3>Vision</h3>
    <p>
    A simple portfolio site where users can register to show case their profile/cv.
    </p>

    <h3>Mission</h3>
    <p>
    The mission of PortfolioSite is simple: demonstrate skills and knowledge learn.
    </p>

</div>

{% endblock %}
