{% extends "basic_app/base.html"%}
    {% block body_block %}
         <div class="jumbotron">
    <main>
      <table>
          {% if profiles %}
        <thead>
          <tr>
            <th>Profile Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Skills</th>
          </tr>
        </thead>
          {% for profile in profiles %}
          <tbody>
            <tr>
              <td><img src="{{ profile.user.userprofileinfo.profile_pic.url }}" alt="user image"></td>
              <td>{{profile.user.first_name}} {{profile.user.last_name}}</td>
              <td>{{profile.user.userprofileinfo.description}}</td>
              <td>{{profile.user.userprofileinfo.courses}}</td>
            </tr>
          </tbody>
          {% endfor %}
          {% endif %}
      </table>
    </main>
        </div>
    {% endblock %}
