{% extends "basic_app/base.html"%}
    {% block body_block %}

    <main>
      <table class="">
          {% if profiles %}
        <thead>
          <tr>
            <th scope="col">Profile Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Skills</th>
          </tr>
        </thead>
          {% for profile in profiles %}
          <tbody>
            <tr>
              <td><img class="rounded-circle account-img" src="{{ profile.user.userprofileinfo.profile_pic.url }}"></td>
              <td class="td-name">{{profile.user.first_name}} {{profile.user.last_name}}</td>
              <td><p>{{profile.user.userprofileinfo.description}}</p></td>
              <td>{{profile.user.userprofileinfo.courses}}</td>
            </tr>
          </tbody>
          {% endfor %}
          {% endif %}
      </table>
    </main>

    {% endblock %}
