{% extends "basic_app/base.html" %}
{% load crispy_forms_tags %}

    {% block body_block %}
    <div class="jumbotron">
         {% for message in messages %}
         <div class="alert alert-success">
         {{ message }}
         </div>
        {% endfor %}
         <h3>Mail Subscribers</h3>
         <br>
         <form action="{% url 'basic_app:mail_joblist' %}" method="POST">
         {% csrf_token %}{{ mail_joblistform | crispy }}
         <input type="submit" class="btn btn-primary" value="Send" />
       </form>
    </div>
    {% endblock %}
