{% extends "basic_app/base.html"%}
    {% block body_block %}
        <div class="jumbotron">
            <h1>Welcome {{  user.username }} <br>This is your portfolio page</h1>
            <div class="col-3">
                <img src="{{ user.userprofileinfo.profile_pic.url }}">
            </div>
            <div>
                First name, last name
            </div>
            <div>
                {{ user.email }}
            </div>
            <div> 
                {{ user.userprofileinfo.portfolio_site }}
            </div>
            <div>
                Skills
            </div>
            <div>
                Free text
            </div>
        </div>
    {% endblock %}

