{% extends "basic_app/base.html"%}
    {% block body_block %}


    <div class="jumbotron">

        <p>{{ user.userprofileinfo.description }} </p>
        <p>
        <img src="{{ user.userprofileinfo.profile_pic.url }}">
        </p>

        <blockquote>

        <p> Name: {{ user.first_name }} {{ user.last_name }} </p>
        <p> Phone Number: {{ user.userprofileinfo.phone }} </p>
        <p> Email: {{ user.email }} </p>
        <p> Skills:  {{ user.userprofileinfo.courses }}  </p>

        </blockquote>

   </div>
 {% endblock %}


