{% extends "basic_app/base.html"%}
{% load crispy_forms_tags %}

    {% block body_block %}
        <div class="jumbotron">
            {% if subscribed %}
             <h1>Success! Thank you for subscribing!</h1>
                <p>A welcome email has been sent!</p>
            {% else %}
             <h1>Subscribe Here</h1>
             <h3>Get the latest job listings that match your skills set, right in your mailbox!</h3>
                <form action="{% url 'basic_app:subscribe' %}" method="post">
                {% csrf_token %} {{ subscriber_form | crispy }}
                <br>
                <input type="submit" value="Subscribe" class="btn btn-primary btn-sm">
                <br>
                </form>
            {% endif %}
        </div>
    {% endblock %}
