html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: 'Zilla Slab', serif;
  color: #313131;
  background-color: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #202020;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.jumbotron{
  background-color: lightyellow;
  border: solid 3px #313131;
}

.btn{
  background-color: #a4b8a8;
  color: #fbfbfb;
  border: none;
  font-weight: bold;
}

.btn:hover {
  background-color: burlywood;
}

.footer-bg, .header-bg {
  background-color: #a4b8a8;
}

