html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: 'Zilla Slab', serif;
  color: #313131;
  background-color: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #202020;
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.jumbotron{
  background-color: lightyellow;
  border: solid 3px #313131;
}

.btn{
  background-color: #a4b8a8;
  color: #fbfbfb;
  border: none;
  font-weight: bold;
  background-color:#a4b8a8;
}

.btn:hover {
  background-color: burlywood;
}

.navbar-link:hover, .navbar-brand:hover{
  color:#313131 !important;
}

.list-unstyled li a{
  color: white;
}
.list-unstyled li a:hover{
  color: #313131;
}

.home-banner{
  background: rgba(49, 49, 49, 0.8) ;
  display:inline-block;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 5% -25%;
  height: 101%;
  width: 150%;
  padding: 10%
}
.home-banner h1, .home-banner h2, .home-banner h3{
  color: #fbfbfb;
}

.start-bg-holder{
  margin: -2% 0 5% -25%;
  height: 103%;
  width: 150%;
}


main table{
    width: 100%;
    border: 1px solid #FEAE00;
    border-spacing: 0px;
}

main th, td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

main th, td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

main td {
    vertical-align: bottom;
}

main th{
    background-color: #FEAE00;
    color:white;
}

main table img{
    width: 100px;
    height: auto;
}

main tr:nth-child(even) {
    background-color: white;
}
